<div class='content'>
  <h1>About School Fit</h1>
  <p>
    School Fit was conceived, designed, implemented, presented, and awarded first place at <%= link_to 'Health 2.0′s Washington DC HD&IW Code-a-thon', 'http://www.health2con.com/devchallenge/washington-dcs-hdi-code-a-thon-preventing-obesity/' %>.
  </p>

  <h1>Posts about School Fit</h1>
  <ul>
    <li><%= link_to 'Obesity Prevention Code-A-Thon Finale: From an invididual to a civic mindset', 'http://www.tedeytan.com/2012/06/03/10826' %></li>
    <li><%= link_to 'A media moment at #healthdata with US CTO Todd Park and The SchoolFit team', 'http://www.tedeytan.com/2012/06/05/10842' %></li>
    <li><%= link_to 'Winners of the DC Health Data Code-a-Thon Create Public School Obesity App', 'http://inthecapital.com/2012/06/05/winners-of-the-dc-health-data-code-a-thon-create-school-obesity-app/' %></li>
    <li><%= link_to 'Health 2.0 Announces Winners of the Washington D.C. Health Data & Innovation Week Code-a-Thon: Preventing Obesity', 'http://www.marketwatch.com/story/health-20-announces-winners-of-the-washington-dc-health-data-innovation-week-code-a-thon-preventing-obesity-2012-06-05' %></li>
    <li><%= link_to 'Winners: D.C. Health Data and Innovation Week Code-a-thon', 'http://www.health2news.com/2012/06/05/winners-d-c-health-data-and-innovation-week-code-a-thon/' %></li>
    <li><%= link_to 'Obesity app takes first place in D.C. competition', 'http://www.healthcareitnews.com/news/obesity-app-takes-first-national-competition' %></li>
    <li><%= link_to 'Health 2.0 Announces Winners of the Washington D.C. Health Data & Innovation Week Code-a-Thon: Preventing Obesity (via Yahoo Finance)', 'http://finance.yahoo.com/news/health-2-0-announces-winners-123600360.html' %></li>
    <li><%= link_to 'Apps focused on controlling weight take top prizes', 'http://www.govhealthit.com/news/apss-focused-controlling-weight-take-top-prizes' %></li>
    <li><%= link_to 'Preventing Obesity: Winner of D.C. Health Data & Innovation Week Code-a-Thon', 'http://www.thirdage.com/news/preventing-obesity-winner-of-d-c-health-data-innovation-week-code-a-thon_06-05-2012' %></li>
    <li><%= link_to 'Health 2.0 Announces Winners of the Washington D.C. Health Data & Innovation Week Code-a-Thon: Preventing Obesity (via iPadCTO)', 'http://ipadcto.com/2012/06/05/health-2-0-announces-winners-of-the-washington-d-c-health-data-innovation-week-code-a-thon-preventing-obesity/' %></li>
  </ul>

  <h1>Meet The Team</h1>
  <div>
    <%= image_tag('school_fit_team.jpeg') %>
    <p>
      <%= link_to 'Jay Nagy', '#jnagy' %>, <%= link_to 'Christine Kraft', '#ckraft' %>, <%= link_to 'Ryan Duryea', '#rduryea' %>, <%= link_to 'Amanda Robison', '#arobison' %>, <%= link_to 'Art Nicewick', '#anicewick' %><br />Photo Courtesy of <%= link_to 'Ted Eytan, MD', 'http://www.tedeytan.com/' %>
    </p>
  </div>
  <div class='team_member_description'>
    <a name="anicewick"></a>
    <h3>Art Nicewick - Team Lead</h3>
    <p>
      Art Nicewick is a Data Scientist and software developer living in Herndon, Virginia. He is also the president of <%= link_to 'data4USA (www.data4USA.com)', 'http://www.data4USA.com' %>, a company that promotes the use of government data for entrepreneurs.
    </p>
    <p>
      Mr. Nicewick, had the original idea of creating a site that made the obesity levels of the school transparent and was the Team Lead on the project. He was very fortunate to find a great team that also liked the idea, helped refine the concepts, pull the data, build the application and develop the presentation. All and all, he had a wonderful time.
    </p>
    <p>
      Mr. Nicewick is interested in the use of data to increase the overall efficiency of life. He is currently working with the technologies of linked data and the semantic web to help accomplish these goals.
    </p>
    <div class='more_info'>
      <strong>Email:</strong>&nbsp;<%= link_to 'anicewick@gmail.com', 'mailto:anicewick@gmail.com' %>
    </div>
  </div>
  <div class='team_member_description'>
    <a name="arobison"></a>
    <h3>Amanda Robison - Data Analyst</h3>
    <p>
      Amanda Robison is a data analyst/scientist living in Washington, DC currently using her B.S.E. from Duke University to do algorithm development for the Crimson products at the Advisory Board Company.
    </p>
    <p>
      For the Code-a-thon she worked to source all of the data, processed the data, developed the School Fit Score, and connected the California State Data to the CARES Data. She was fortunate enough to have a supportive and talented team with an excellent developer. Amanda is interested in helping to change the current healthcare paradigm and work to help improve public health through research.
    </p>
    <div class='more_info'>
      <strong>Email:</strong>&nbsp;<%= link_to 'aer12@alumni.duke.edu', 'mailto:aer12@alumni.duke.edu' %>
    </div>
  </div>
  <div class='team_member_description'>
    <a name="rduryea"></a>
    <h3>Ryan Duryea - Software Developer</h3>
    <p>
      Ryan Duryea is a software developer living in Los Angeles, CA with 8 years of experience in the Health IT industry.  For the Code-a-thon, he designed and implemented the School Fit website using Ruby on Rails.  He was fortunate enough to have a great team that provided him with all the data and all the wording of the site so he could sit back, relax, and just code away all weekend.
    </p>
    <p>
      Ryan is interested in combining the latest mobile and web-based technologies with the US's recent explosion of healthcare data to create awesome, innovate applications like School Fit.
    </p>
    <div class='more_info'>
      <strong>Email:</strong>&nbsp;<%= link_to 'aguynamedryan@gmail.com', 'mailto:aguynamedryan@gmail.com' %>
      <br />
      <strong>Homepage:</strong>&nbsp;<%= link_to 'aguynamedryan.com', 'http://aguynamedryan.com' %>
    </div>
  </div>
  <div class='team_member_description'>
    <a name="jnagy"></a>
    <h3>Jay Nagy</h3>
    <p>
      Jay Nagy is the finance/business development guy on Team School Fit, which simply means he helped them distill and sell the concept.  That's kind of what he does everyday in Corporate Strategy at The Advisory Board Company - develop ideas on new analytical tools and services to support member hospitals.  The Code-a-thon was an intense reminder of just how much people from different disciplines accomplish when they organize around a problem and an idea on how to begin solving it.
    </p>
    <div class='more_info'>
      <strong>Email:</strong>&nbsp;<%= link_to 'jaynagy@gmail.com', 'mailto:jaynagy@gmail.com' %>
      <br />
      <strong>Twitter:</strong>&nbsp;<%= link_to '@jay_nagy', 'https://twitter.com/#!/jay_nagy' %>
    </div>
  </div>
  <div class='team_member_description'>
    <a name="ckraft"></a>
    <h3>Christine Kraft - Health Content and Product Strategist</h3>
    <p>
      Christine Kraft provides consumer-facing content and product consulting to commercial and nonprofit clients. Her work has been featured on MSN, About, AOL, CNN, Revolution Health, Everyday Health, Better Medicine and Health Grades, as well as on a range of hospital and nonprofit media outlets.  She hopes that the School Fit prototype sparks a range of social and citizen-driven programming initiatives to benefit America's school-age children.
    </p>
    <div class='more_info'>
      <strong><%= link_to "Learn more about Christine's work here", 'http://www.linkedin.com/in/christinekraft' %></strong>
    </div>
  </div>
</div>
