<% content_for :scripts do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA2JyV4NvfnL8cTI3jzjv8VoBHrmI5qN3s&sensor=true"> </script>
<% end %>

<div id="map_canvas"></div>
<div id="info">
  <div class="news_item">
    <p class="header">
      What is School Fit?
    </p>
    <p>
      School Fit was conceived, designed, implemented, presented, and awarded first place at <%= link_to 'Health 2.0′s Washington DC HD&IW Code-a-thon', 'http://www.health2con.com/devchallenge/washington-dcs-hdi-code-a-thon-preventing-obesity/' %>.  Learn more <%= link_to 'about it here', page_path('about') %>.
    </p>
  </div>
  <div class="news_item">
    <p class="header">
      How do we calculate the School Fit™ Score?
    </p>
    <p>
      Our pilot uses 2007-2011 California Dept. of Education Physical Fitness Testing Program data to develop an algorithm designed to measure the wellness of children at public schools across the state using many metrics, including BMI (body mass index)
    </p>
  </div>
  <div class="news_item">
    <p class="header">
      Dean's List 2011
    </p>
    <p>
      We’re proud to announce our first Dean’s List, a forum to highlight the Top 10 “Most Fit” Schools in the State of California!
    </p>
    <ul>
    <% @top_schools.each do |school| %>
      <li><%= school.name %> - <%= school.grade %> (<%= school.fit_score %>)</li>
    <% end %>
    </ul>
  </div>
</div>
