<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>SchoolFit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js?&raw=true"></script>
  <script src="http://github.com/DmitryBaranovskiy/g.raphael/blob/master/min/g.raphael-min.js?raw=true"></script>
  <script src="http://github.com/DmitryBaranovskiy/g.raphael/blob/master/min/g.line-min.js?raw=true"></script>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <a href="/">
      <%= image_tag('school_fit_logo.png', :size => '100x80') %>
    </a>
    <span>Let the children lead the way...</span>
  </div>
  <%= yield %>
</body>
</html>
